<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <i class="fas fa-key fa-6x"></i>
    <p class="secret-text">Add Apps</p>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"><i class="bi bi-plus"></i></a>
    <hr>
    <div class="d-flex flex-column align-items-center">
      <% for(let i of apps) { %>
        <div class="password-paper">
          <h2>
            <%= i.appName %>
          </h2>
          <h4 class="encrypted-password" onclick="decryptPass(this,'<%= i.appPassword %>')">
            <%= i.fakePassword %>
            <i class="bi bi-eye"></i>
          </h4>
          
          <button onclick="copyToClipBoard('<%=i.appPassword %>')">Copy to clipboard</button>
        </div>
        <%}%>
    </div>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>


  </div>
  <script>
    function decryptPass(element,password) {
      element.textContent = password;
    }
    async function copyToClipBoard(text) {
      try {
        
        await navigator.clipboard.writeText(text);
        console.log('Page URL copied to clipboard');
      } catch (err) {
        console.error('Failed to copy: ', err);
      }
    }

  </script>
  <%- include('partials/footer') %>